body {
	background: url(coin.gif);
}

div {
	color:black;
	background-color:white;
	opacity:70%;
	
}
h1 {
	color:white;
}

p {
	color:black;
	font-weight: bold;
	font-size:30px;
	margin-bottom:20px;
}
