body {
	background: url(coin.gif);
}

div {
	color:black;
	background-color:white;
	opacity:70%;
	width:200px;
	height:30px;
}
h1 {
	color:white;
}

p {
	color:white;
	font-weight: bold;
	font-size:15px;
}
