body {
	background-color: black;
}
h1 {
	color: 	white;
}



a {
	text-decoration: none;
	color:white;
}	
img {
	margin-top: 30px;
}

.B1 {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border-radius: 20px;
  color: black;
  margin-bottom: 20px;
}

.B1:after {
  content: "";
  background-color: blue;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
  border-radius: 20px;
}

.B1:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .B1 {
    padding: 13px 50px 13px;
  }
}

}
