.d1 {
	border-radius:2px;
	border: 2px solid black;
	height: 300px;
}
.d2 {
	border-radius:2px;
	border: 2px solid black;
	height: 300px;
}
.d3 {
	border-radius:2px;
	border: 2px solid black;
	height: 300px;
	}
.d4 {
	border-radius:2px;
	border: 2px solid black;
	height: 300px;
	}

.p2 {
	float:left;
	margin-left:100px;
}
.p1 {
	float:left;
}

div{
	margin-top:10px;
	border:2px solid black;
	margin-bottom: 10px;
	width: 1000px;
	margin-left: 10px;
	border-radius: 2px;
}

img{
	float:left;
	margin-left: 800px;

}
body {
	border:solid black;
	margin-left: 25%;
	width: 54%;
}