div {
	border: 2px solid #0cf328;
	border-radius: 26px;
	width: 800px;
	height: 800px;

}

button {
	color: green;
	border: 2px solid white;
	border-radius: 26px;
	background: #0cf328;
	width: 500px;
	height: 100px;
	margin-bottom: 30px;
	margin-top: 20px;

}

a {
	color:white;
	font-size: 20px;
}

button:hover {
	background: black
}