ul li {
	width: 200px;
	height: 50px;
	background-color: #8cbed6;
	color:black ;
	margin-bottom: 	5px;
	font-size: 15px;
	border: 3px solid #2d70b7;
	padding-left: 10px;
	list-style: none;
	line-height: 50px;
	margin-left: 45px;

}
body {
	background-color: #c5d7dd;
}

ul li:hover{
	width: 	250px;
	background-color: #095778 ;
	border: 3px solid#6d9bc3 ;
	color:white;
	font-weight: bold;
	padding-left: 	40px;
	cursor: pointer;
	transition: all 2s;	

}

div {
	border:5px solid black;
	width: 	400px;
	height: 300px;
	margin-left: 40%;	
	margin-right:50%;
	background-color: 	#8c92ac;
}