button {
    border: 2px solid black;
    border-radius: 26px;
    background-color: transparent;
    width: 200px;
    height: 200px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin-left: 210px;
    margin-top: 60px;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: rgb(107, 107, 107);
}

button:hover {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

